dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ basedn }}
-
replace: olcRootDN
olcRootDN: {{ rootdn }}
-
replace: olcRootPW
olcRootPW: {{ ldap_root_hash.stdout }}
